.info-page {
	background-color: #f3f4f6;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-card {
	background-color: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 12px;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-header-heading {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	color: #000;
	padding: 0;
	margin: 0;
}

.login-header-subtext {
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: #7b7b7c;
	padding: 0;
	margin: 1rem 0 2rem 0;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.form-input-group {
	margin-bottom: 1.2rem;
	display: flex;
	flex-direction: column;
}

.form-label {
	font-size: 0.9rem;
	font-weight: 500;
	color: #000;
	margin-bottom: 5px;
}

.star-required {
	color: #ff0000;
}

.form-input {
	padding: 0.6rem 0.9rem;
	border: 2px solid #ececef;
	border-radius: 6px;
	font-size: 0.9rem;
	font-weight: 400;
	color: #000;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

.otp-group {
	margin-bottom: 0;
}

.button-join-meeting {
	margin-top: 2rem;
	background-color: #4285f4;
	border: 2px solid #4285f4;
	border-radius: 6px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	cursor: pointer;
}

.button-join-meeting:hover {
	background-color: #3367d6;
	border: 2px solid #3367d6;
}

.button-join-meeting:active {
	background-color: #2a56c6;
	border: 2px solid #2a56c6;
}

.main-button-disabled {
	background-color: #4285f4;
	border: 2px solid #4285f4;
	border-radius: 6px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	cursor: not-allowed;
}

.main-button-disabled:hover {
	background-color: #4285f4;
	border: 2px solid #4285f4;
}

.extra-links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.extra-link {
	padding: 5px;
	margin: 0;
}

a {
	text-decoration: none;
	color: #4285f4;
	font-size: 0.9rem;
	font-weight: 500;
}

a:hover {
	text-decoration: underline;
}
